body {
  padding-top: 3rem;
  padding-bottom: 3rem;
  color: #2c3e50;
  background-color: #ecf0f1
}

.page-content {
  margin-top: 40px;
}

.food-red {
  color: #e74c3c;
}

.food-card {
  width: 40%;
}

@media (max-width: 575.98px) {
  .food-card {
    width: 100%;
  }
}